{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0-alpha4"}
        org.clojure/clojurescript {:mvn/version "1.10.238"}
        org.clojure/core.async {:mvn/version "0.4.474"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.1.1-SNAPSHOT"}
                              cider/cider-nrepl {:mvn/version "0.18.0-SNAPSHOT"}
                              cider/piggieback {:mvn/version "0.3.6"}}}}}
